In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
wine = pd.read_csv('wine_data.csv', usecols=[0,1,2], header=None)
wine.head(3)

   0      1     2
0  1  14.23  1.71
1  1  13.20  1.78
2  1  13.16  2.36

In [ ]:
wine.columns=['Class label', 'Alcohol', 'Malic acid']

In [13]:
wine.sample(5)

     Class label  Alcohol  Malic acid
151            3    12.79        2.67
18             1    14.19        1.59
121            2    11.56        2.05
36             1    13.28        1.64
134            3    12.51        1.24

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(wine.drop('Class label', axis=1), wine['Class label'], test_size=0.2, random_state=42)

In [23]:
x_train.shape
x_test.shape

(142,)

In [25]:
from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()

# it will learn the parameter and data distribution
scale.fit(x_train)

# it will laern transform the value to apply the formula of min max scaling
scale_x_train = scale.transform(x_train)
scale_x_test = scale.transform(x_test)

In [28]:
scale_x_train = pd.DataFrame(scale_x_train, columns=x_train.columns)
scale_x_test = pd.DataFrame(scale_x_test, columns=x_test.columns)

In [30]:
scale_x_train

      Alcohol  Malic acid
0    0.871053    0.160896
1    0.394737    0.940937
2    0.352632    0.036660
3    0.644737    0.158859
4    0.536842    0.124236
..        ...         ...
137  0.744737    0.126273
138  0.321053    0.171079
139  0.881579    0.199593
140  0.436842    0.130346
141  0.344737    0.317719

[142 rows x 2 columns]

In [32]:
fig, axe = plt.subplot(1,2, figsize=(5,10))

TypeError: subplot() takes 1 or 3 positional arguments but 2 were given