In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('customer.csv')

In [6]:
df = df.iloc[:,2:]

In [7]:
df.head(1)

    review education purchased
0  Average    School        No

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop('purchased', axis=1), df['purchased'], test_size=0.3)

In [9]:
X_train

     review education
28     Poor    School
9      Good        UG
8   Average        UG
7      Poor    School
6      Good    School
45     Poor        PG
11     Good        UG
16     Poor        UG
27     Poor        PG
38     Good    School
17     Poor        UG
3      Good        PG
39     Poor        PG
33     Good        PG
22     Poor        PG
18     Good    School
42     Good        PG
35     Poor    School
24  Average        PG
14     Poor        PG
12     Poor    School
30  Average        UG
46     Poor        PG
20  Average    School
2      Good        PG
15     Poor        UG
40     Good    School
49     Good        UG
4   Average        UG
36     Good        UG
47     Good        PG
5   Average    School
41     Good        PG
48     Good        UG
21  Average        PG

### ordinal encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(X_train)

X_train = oe.transform(X_train)
X_train

array([[0., 0.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [2., 1.],
       [1., 2.]])

### label encoding
it is used when the output columns is catagorical

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

y_train = le.transform(y_train)